.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
 
}

.thead {
  background-color: #f4f4f4;
  color: black;
 
}

.td {
  padding: 12px;
  border: 1px solid #000000;
color: black;

}
.th{
  padding: 12px;
    border: 1px solid #737272;
    color: rgb(254, 254, 254);
    text-align: center;
    
}

.tbody tr:nth-child(odd) {
  background-color: #ffffff;
  text-align: center;
}

.tbody tr:nth-child(even) {
  background-color: #c3bfbf;
  text-align: center;
}

.th {
  background-color: #000000;
}
